/* Onboarding-1 */
body {
  background: #F3F5FCFF; 
}

/* Image */
.image-card {
  position: absolute; 
  top: 6.875rem; 
  height: 15rem; 
  width: 15.625rem;
  border-radius: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}