/* Onboarding-1 */
body {
  background: #F3F5FCFF; 
}

/* Image */
.image-card {
  position: absolute; 
  top: 110px; 
  height: 240px; 
  width: 250px;
  border-radius: 0px 0px 0px 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}