:host {
  display: block;
}

ion-avatar {
  --ion-background-color: #ffffff;
  width: var(--avatar-size, 100px);
  height: var(--avatar-size, 100px);
  
  img {
    border: 2px solid var(--ion-color-light);
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}