<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centered-title">Demandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="request-content">
  <div class="request-container">
    <ion-list lines="none" class="request-list">
      @for (req of requests; track $index) {
        <ion-item class="request-item">
          <div class="request-header">
            <div class="request-info">
              <span class="request-title">{{req.title}}</span>
              <span class="request-id">Request ID: {{req.id}}</span>
            </div>
          </div>
          <div class="request-body">
            @if (req.status) {
              <span class="request-status" [ngStyle]="{'background': req.statusColor, 'color': req.statusTextColor}">{{req.status}}</span>
            }
            <div class="request-actions">
              <a class="voir-plus" [routerLink]="['/tabs/view-details']">voir plus</a>
            </div>
          </div>
        </ion-item>
      }
    </ion-list>
    <div class="support-buttons">
      <ion-button expand="block" fill="outline" color="medium" class="support-btn">Email </ion-button>
      <ion-button expand="block" color="primary" class="support-btn">Chat</ion-button>
    </div>
  </div>
</ion-content>

